{% extends "bootstrap/base.html" %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block title %}FBW{% endblock %}
{% block navbar %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navbar navbar-inverse" role="navigation">

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('main.welcomepage')}}">首页</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.logout') }}">登出</a></li>
                {% else %}
             <li><a href="{{ url_for('main.login') }}">登录</a></li>
                 {% endif %}
</ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}