{% extends "bootstrap/base.html" %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block title %}欢迎，管理员{% endblock %}
{% block navbar %}
<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{url_for('main.welcomepage')}}">首页</a></li>

            <li role="presentation" id="class"><a href="#">管理班级</a></li>
            <li role="presentation" id="teacher"><a href="#">管理教师</a></li>
            <li role="presentation" id="student"><a href="#">管理学生</a></li>
            <li role="presentation"><a href="#">邮件</a></li>
            <li role="presentation"><a href="#">清理作业</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.logout') }}">登出</a></li>
            {% else %}
            <li><a href="{{ url_for('main.login') }}">登录</a></li>
            {% endif %}
        </ul>
    </div>
</div>
</div>
<script>
   $(document).ready(function(){
  $("#student").click(function(){
  $("#show_place").load("{{ url_for('main.manager_student') }}");
  });
  $("#teacher").click(function(){
  $("#show_place").load("{{ url_for('main.manager_teacher') }}");
  });

});
</script>
<div class="col-md-12" id="show_place">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        {% endfor %}

    </div>
    {% endblock %}
</div>>
