{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
{% endblock %}
{% block navbar %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-2">
            <div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tables nav-stacked">
                    <li class="active"><a href="#tab1" data-toggle="tab">查看全部评分与评语</a></li>
                    <li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="page-header">
                        <h1>查看全部评分与评语</h1>
                    </div>
                   <ul class="list-group">
                        {% for item in return_list %}
                        <li class="list-group-item">作业名称：{{ item[2] }} 作业分数：{{ item[0] }}； 作业评价：{{ item[1] }}；截止日期：{{ item[3] }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="'col-md-6'"></div>
    </div>
</div>

{% endblock %}