{% extends "bootstrap/base.html" %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block title %}您好，老师{% endblock %}
{% block navbar %}
<script src="{{ url_for('static', filename = 'js/jquery.min.js') }}">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{{url_for('main.welcomepage')}}">首页</a></li>

            <li role="presentation" id="class"><a href="#">课程</a></li>
            <li role="presentation" id="work"><a href="#">作业</a></li>
            <li role="presentation" id="assign"><a href="#">分数和评语</a></li>
            <li role="presentation" id="inf"><a href="#">信息</a></li>
            <li role="presentation" id="score_inf"><a href="#">成绩单</a></li>
            <li role="presentation" id="message"><a href="#">公告</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.logout') }}">登出</a></li>
            {% else %}
            <li><a href="{{ url_for('main.login') }}">登录</a></li>
            {% endif %}
        </ul>
    </div>
</div>
</div>
<script>
   $(document).ready(function(){
  $("#class").click(function(){
  $("#show_place").load("{{ url_for('main.teacher_class') }}");
  });
    $("#work").click(function(){
  $("#show_place").load("{{ url_for('main.teacher_work') }}");
  });
    $("#assign").click(function(){
  $("#show_place").load("{{ url_for('main.teacher_score') }}");
  });
  $("#message").click(function(){
  $("#show_place").load("{{ url_for('main.teacher_message') }}");
  });



});
</script>
<div class="col-md-12" id="show_place">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        {% endfor %}

    </div>
    {% endblock %}
</div>